<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
     	<!-- <setting name="cacheEnabled" value="true"/> -->
     	<setting name="defaultExecutorType" value="BATCH"/> <!--SIMPLE、REUSE、BATCH-->
     </settings>
	<plugins>
		<plugin interceptor="com.tianjunwei.page.PageInterceptor"></plugin>
	</plugins>
	<mappers>
		<mapper resource="com/tianjunwei/log/dao/mapper/log-mapper.xml"></mapper>
		<mapper resource="com/tianjunwei/log/dao/mapper/loginfo-mapper.xml"></mapper>
	</mappers>
	
</configuration>