<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.tianjunwei.learn.learn2.IUserMapper">
   
     <select id="getById" parameterType="int" resultMap="user">
     	select * from users where id=#{id} and 1=1
     </select>
     
     <select id="page" resultMap="user">
     	select * from users
     </select>
     
     <resultMap type="com.tianjunwei.learn.learn1.entity.User" id="user" >    
     	<id column="id" property="id" javaType="int" jdbcType="INTEGER"></id>
     	<result column="name" property="names" javaType="string" jdbcType="VARCHAR"/>
     	<result column="age" property="age" javaType="int" jdbcType="INTEGER"/>
     </resultMap>
     
 </mapper>